{% extends 'base.html' %}
{% load static %}

{% block title %}Главная{% endblock %}


{% block link_style %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}


{% block main %}
    <section class="main">
        <div class="wrap">
            <h2>Список пользователей</h2>
            <div class="search">
                <nav class="navbar navbar-light bg-transparent justify-content-end">
                    <form class="form-inline" action=" {{ current_url }}">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
                               name='search'>
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </nav>
            </div>
            <div class="list-users">

                {% for person in persons.object_list %}
                    <div class="item-list">
                        <div class="block-image">
                            <img src="/media/{{ person.photo }}" alt="#">
                        </div>
                        <div class="info-user">
                            {{ person.full_name }} <br>
                            {{ person.city }}<br>
                            {{ person.date|date:"Y" }}
                        </div>
                        <div class="score_user">
                            <form action="#">
                                <p>Счета</p>

                                {% for score in scores %}
                                    {% if score.person_score.id == person.id %}
                                        <p><input type="radio" name="a" value="{{ score.number }}"> {{ score.number }}
                                        </p>
                                    {% endif %}

                                    <!-- -->
                                {% endfor %}
                            </form>
                        </div>
                        <button type="button" class="btn btn-primary" {% if not request.user.is_authenticated %}disabled{% endif %} >Перевести</button>
                    </div>

                {% endfor %}
            </div>

            <div class="pagination">
                <nav>
                    <ul class="pagination justify-content-center">

                        <li class="page-item {% if not prev_url%}disabled{% endif %}">
                            <a class="page-link" href="{{ prev_url }}" tabindex="-1" aria-disabled="true">Предыдущая</a>
                        </li>

                        {% for n in persons.paginator.page_range %}
                            <li class="page-item {% if persons.number == n %}active{% endif %}">
                                <a class="page-link" href="?page={{ n }}">{{ n }}</a>
                            </li>
                        {% endfor %}

                        <li class="page-item {% if not next_url%}disabled{% endif %}">
                            <a class="page-link" href="{{ next_url }}">Следующая</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </section>
{% endblock %}
